* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html,
body {
    font-family: sans-serif;
}


/* Start style nav */

nav .nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(5, 5, 5);
}

.nav-bar .nav-tilte h3 {
    padding: 15px 20px;
    color: rgba(240, 248, 255, 0.808);
    font-size: 20px;
    font-weight: 400;
}

.nav-bar .nav-btn {
    padding: 5px 10px;
}

.nav-bar .nav-btn .btn1 {
    border: 1px solid;
    border-color: rgba(116, 116, 116, 0.733);
    border-radius: 4px;
    background-color: rgba(5, 5, 5, 0.925);
    padding: 12px 15px;
}

.nav-bar .nav-btn .btn1 .like {
    background-color: rgb(40, 108, 255);
    padding: 5px 10px;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.nav-bar .nav-btn .btn1 .twitter {
    background-color: rgb(29, 172, 238);
    padding: 5px 10px;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.nav-bar .nav-btn .btn2 {
    border: 1px solid;
    border-color: rgba(116, 116, 116, 0.733);
    border-radius: 4px;
    background-color: rgba(5, 5, 5, 0.925);
    padding: 13px 18px;
}

.nav-bar .nav-btn .btn2 .back {
    color: white;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.699);
    font-size: 15px;
}

.nav-bar .nav-btn .btn3 {
    border: 1px solid;
    border-color: rgba(116, 116, 116, 0.733);
    border-radius: 4px;
    background-color: rgba(247, 100, 74, 0.836);
    padding: 13px 20px;
}

.nav-bar .nav-btn .btn3 .down {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.nav-bar .nav-btn .btn3 .span-down {
    color: rgba(255, 255, 255, 0.699);
    font-size: 15px;
}


/* End style nav */


/* Start style aside and main */

.main {
    float: right;
    height: auto;
    background: rgb(27, 32, 32);
    width: 80%;
}

.sidebar {
    float: left;
    height: 3475px;
    background: rgb(41, 45, 49);
    width: 20%;
}

aside .asid-container {
    text-align: right;
    padding: 40px 30px;
    color: white;
}

aside .asid-container .asid-title h4 {
    font-size: 25px;
    font-weight: 400;
    margin: 20px 0;
}

aside .asid-container .asid-title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 2px;
    color: rgb(88, 88, 88);
}

aside .asid-container .asid-liens {
    padding: 70px 0;
}

aside .asid-container .asid-liens ul li {
    list-style: none;
}

aside .asid-container .asid-liens a {
    color: rgb(88, 88, 88);
    text-decoration: none;
}

aside .asid-container .asid-liens a:hover {
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.397);
    background-color: rgba(0, 0, 0, 0.397);
    padding: 20px 50px;
}

aside .asid-container .asid-liens #fonte:hover {
    color: indianred;
}

aside .asid-container .asid-foot {
    padding: 0 20px;
    margin-top: 2900px;
}

aside .asid-container .asid-foot a i {
    color: rgb(180, 180, 180);
    padding: 0 4px;
}


/* Start section-1 */

.main section .sect-intro {
    background-image: url(../images/banner.jpg);
    text-align: center;
    color: white;
    height: 700px;
}

.main section .sect-intro .sect-para h3 {
    color: rgb(218, 214, 214);
    font-weight: 100;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 150px 0;
    line-height: 70px;
}

.main section .sect-intro .sect-para .prologue {
    color: white;
}

.main section .sect-intro .sect-para .free {
    color: white;
}

.main section .sect-intro .sect-para .html {
    color: white;
}

.main section .sect-intro .sect-para .ppp {
    font-size: 25px;
    font-weight: 100;
    line-height: 50px;
    margin: -130px 0;
    color: rgb(190, 190, 190);
}

.main section .sect-intro .sect-btn {
    padding: 220px 0;
}

.main section .sect-intro .sect-btn a {
    color: rgb(221, 221, 221);
    font-size: 23px;
    font-weight: 100;
    padding: 30px 70px;
    border: 1px solid;
    border-radius: 10px 10px;
    border-color: rgb(9, 85, 85);
    background-color: rgb(9, 85, 85);
    text-decoration: none;
}


/* End section-1 */


/* Start section-2*/

section .sect-portfolio .sect-title {
    text-align: center;
    margin: 100px 0;
}

section .sect-portfolio .sect-title h1 {
    color: rgb(185, 185, 185);
    font-weight: 100;
    font-size: 45px;
}

section .sect-portfolio .sect-2-para {
    text-align: center;
    margin: -40px 0;
}

section .sect-portfolio .sect-2-para p {
    color: rgb(117, 117, 117);
    font-size: 25px;
    line-height: 45px;
    font-weight: 100;
}

section .sect-portfolio .select-img1 {
    padding: 10px 40px;
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
}

section .sect-portfolio .select-img1 .sect-phrase {
    border: 1px solid;
    border-color: rgb(20, 20, 20);
    width: 300px;
    height: auto;
    padding: 30px 0;
    background-color: rgb(20, 20, 20);
    color: rgb(117, 117, 117);
    text-align: center;
    margin-top: -5px;
}

section .sect-portfolio .select-img1 .sect-img-1 img {
    width: 300px;
    height: auto;
}

section .sect-portfolio .select-img1 .sect-img-2 img {
    width: 300px;
    height: auto;
}

section .sect-portfolio .select-img1 .sect-img-3 img {
    width: 300px;
    height: auto;
}

section .sect-portfolio .select-img2 {
    padding: 10px 40px;
    margin-top: -100px;
    display: flex;
    justify-content: space-between;
}

section .sect-portfolio .select-img2 .sect-phrase {
    border: 1px solid;
    border-color: rgb(20, 20, 20);
    width: 300px;
    height: auto;
    padding: 30px 0;
    background-color: rgb(20, 20, 20);
    color: rgb(117, 117, 117);
    text-align: center;
    margin-top: -5px;
}

section .sect-portfolio .select-img2 .sect-img-4 img {
    margin-top: -110px;
    width: 300px;
    height: auto;
}

section .sect-portfolio .select-img2 .sect-img-5 img {
    width: 300px;
    height: auto;
}

section .sect-portfolio .select-img2 .sect-img-6 img {
    margin-top: -160px;
    width: 300px;
    height: auto;
}


/* End section-2 */


/* Start section-3 */

.hr1 {
    margin-top: 60px;
    color: rgba(37, 41, 41, 0.712);
}

section .sect-about {
    background-color: rgba(37, 41, 41, 0.712);
    color: rgb(129, 129, 129);
}

section .sect-about .sect-3-title {
    text-align: center;
    padding: 30px 0;
    font-size: 28px;
    font-family: inherit;
    font-weight: 100;
}

section .sect-about .sect-3-img {
    padding: 50px 40px;
}

section .sect-about .sect-3-img img {
    width: 940px;
    height: auto;
}

section .sect-about .sect-3-para {
    text-align: center;
}

section .sect-about .sect-3-para p {
    padding: 40px 0;
    font-size: 19px;
    line-height: 30px;
    font-weight: 100;
}


/* End section-3 */


/* Start section-4 */

.hr2 {
    color: rgb(43, 46, 46);
}

section .sect-contact {
    color: rgb(129, 129, 129);
    background-color: rgb(43, 46, 46);
}

section .sect-contact .sect-4-title {
    text-align: center;
    padding: 50px 0;
}

section .sect-contact .sect-4-title h1 {
    font-size: 30px;
    font-weight: 100;
}

section .sect-contact .sect-4-para p {
    text-align: center;
    font-size: 19px;
    line-height: 30px;
    font-weight: 100;
}

section .sect-contact .sect-form {
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
}

section .sect-contact .sect-form {
    display: flex;
    justify-content: space-between;
    padding: 30px 150px;
}

section .sect-contact .sect-form .sect-form-1 input {
    width: 350px;
    height: 65px;
    padding-left: 20px;
    background-color: black;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 7px 7px;
    font-size: 20px;
    outline: none;
    font-weight: 100;
}

::placeholder {
    font-size: 20px;
}

section .sect-contact .sect-form .sect-form-2 input {
    width: 350px;
    height: 65px;
    padding-left: 20px;
    background-color: black;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 7px 7px;
    font-size: 20px;
    outline: none;
    font-weight: 100;
}

section .sect-contact .sect-form-area {
    text-align: center;
}

section .sect-contact .sect-form-area textarea {
    width: 720px;
    height: 300px;
    background-color: black;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 7px 7px;
    padding: 20px 20px;
    outline: none;
    font-size: 20px;
    font-weight: 100;
}

section .sect-contact .sect-4-btn {
    text-align: center;
    padding: 20px 0;
}

section .sect-contact .sect-4-btn input {
    width: 250px;
    height: 65px;
    background-color: rgb(9, 85, 85);
    border: none;
    border-radius: 7px 7px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 100;
}


/* End section-4 */


/* Start footer */

footer .foot-contact {
    background-color: rgba(70, 70, 70, 0.836);
    padding: 55px 0;
}

footer .foot-contact .foot-list-liens {
    color: rgb(128, 126, 126);
    text-align: center;
    font-weight: 100;
}

footer .foot-contact .foot-list-liens .vertical1 {
    margin: 0 5px;
    border-left: 1px solid rgb(128, 126, 126);
    display: inline-block;
    height: 17px;
}

footer .foot-contact .foot-list-liens .vertical2 {
    margin: 0 5px;
    border-left: 1px solid rgb(128, 126, 126);
    display: inline-block;
    height: 17px;
}

footer .foot-contact .foot-list-liens a {
    color: rgb(128, 126, 126)
}


/* End footer */